<!DOCTYPE html>
<html>
  <head>
    <h1> Welcome to <%= title %> Dashboard </h1>
    <h2><img src="/images/SensorNetHub.png" width="400"/></h2>

    
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-chart-area"></i>
          </div>
          <div class="mr-5">Storico Grafici</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="grafico">
          <span class="float-left">Visualizza Grafici</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-chart-area"></i>
          </div>
          <div class="mr-5">Grafici Attuali</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="grafico/recent">
          <span class="float-left">Visualizza Grafici</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa-solid fa-chart-area"></i>
          </div>
          <div class="mr-5">Grafici con Alert</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="grafico/alert">
          <span class="float-left">Visualizza Grafici</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    </ul>
  </body>
</html>
